/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
  height: 100%;
  font-family: Roboto;
}
ol, ul {
	list-style: none;
}
